#Slide {
  height: 500px;
}
html,
body {
  position: relative;
  height: 700px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* .swiper {
  width: 100%;
  height: 500px;
  gap: 20px;
  
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 00px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 500px;
  width: 80%;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.mySwiper {
  height: 70px;
  width: 300px;
  border-radius: 12px;
  /* box-sizing: border-box; */
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 200px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
